.aboutUs {
    min-height: 100vh;
}

.aboutUs__container {
    padding: 20vh 15%;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    gap: 60px;
}

.aboutUs__imageContainer {
    border-radius: 5px;
}

img {
    width: 100%;
    border-radius: 5px;
}

.aboutUs__textContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutUs__textContainer p:nth-child(1) {
    font-size: 1.15em;
    font-weight: 600;
}

.aboutUs__textContainer p:nth-child(2) {
    font-style: italic;
    font-size: 0.85em;
    font-weight: 500;
}

.aboutUs__textContainer p:nth-child(3) {
    font-size: 0.75em;
    color: rgb(99, 99, 99);
}

.aboutUs__servicesList {
    list-style: none;
    line-height: 1.5em;
}

.aboutUs__servicesList li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8em;
    color: rgb(99, 99, 99);
}

.aboutUs__animatedSection {
    opacity: 0;
    transform: translateY(30px);
}