.bottom {
    width: 100%;
    height: auto;
    background-color: rgb(40, 43, 71);
    color: rgb(211, 209, 209);
    font-size: .6em;
}

.bottom__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5px;
}

.bottom__link {
    text-decoration: none;
    color: rgb(211, 209, 209);
}

@media (max-width: 768px) {
    .bottom {
        font-size: 0.7em;
    }
}

@media (max-width: 576px) {
    .bottom__container {
        width: 95%;
    }
    .bottom {
        font-size: 0.5em;
    }
}