.contact {
    background-color: inherit;
    min-height: 50vh;
    width: 100%;
    padding: 100px 15%;
}

.contact__formContainer {
    margin: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, textarea {
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(25, 25, 175);
}

form textarea {
    resize: none;
}

form button {
    background-color: rgb(109, 185, 230);
    color: white;
    padding: 10px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.contact__info {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

.contact__info>h4 {
    font-size: 2em;
    margin-bottom: 30px;
}

.contact__info>p {
    font-size: 1.1em;
}

.contact__info>div {
    font-size: 0.8em;
    margin-top: 30px;
    color: rgb(99, 99, 99);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 70%;
    position: relative;
}

.contact__info>div>p {
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

/* .contact__info>div::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(109, 185, 230);
    border-radius: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(50%, 50%);
} */