.footer {
    background-color: rgb(31, 34, 56);
    color: whitesmoke;
    padding: 30px 15%;
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
}

.footer>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer>div>header {
    font-size: 1.2em;
}

.footer>div>p, .footer>div>a {
    color: rgb(201, 201, 201);
}