.footer {
    background-color: rgb(31, 34, 56);
    color: whitesmoke;
    padding: 30px 30%;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Source Sans 3', sans-serif;
}

.footer>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer>div>header {
    font-size: 1.4em;
}

.footer>div>p, .footer>div>a {
    color: rgb(201, 201, 201);
    font-size: 0.9em;
}

.footer>div>a {
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer {
        padding: 30px 3%;
        justify-content: space-around;
    }
}