.gallery {
    min-height: 20vh;
    padding: 5vh 10%;
    background-color: #1e3f6307;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.gallery__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery__thumbnail {
    list-style: none;
    height: 200px;
    width: 300px;
    overflow: hidden;
    position: relative;
}

.gallery__thumbnail img {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.gallery__thumbnail img:hover {
    transform: scale(1.1);
}

.gallery__thumbnail img:focus-visible,
.gallery__thumbnail img:focus {
    border: solid 5px var(--button-background);
}

.gallery__button {
    background-color: rgb(109, 185, 230);
    color: white;
    width: 200px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
}

.gallery__button a {
    width: 100%;
    height: 100%;
    padding: 10px;
}
