.offer {
    padding: 100px 10%;
    color: var(--main-font-color);
    background-color: #192958;
}

.offer header {
    color: whitesmoke;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.offer header p {
    font-size: 1.5em;
}

.offer header hr {
    width: 100px;
    color: whitesmoke;
    border-radius: 10px;
}