.opinions {
    background: linear-gradient(90deg, rgba(81, 99, 235, 0.404) 0%, rgba(81, 99, 235, 0.404) 100%), url(/images/nigth\ city.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
    min-height: 100vh;
    padding: 100px 10%;
}

.opinionsHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.opinions__underline {
    width: 100px;
    color: whitesmoke;
}

.opinions h3 {
    font-size: 1.7em;
    font-weight: 300;
}

.opinionsCardsContainer {
    max-width: 100%;
    padding: 150px 5%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.optionsCard {
    background-color: whitesmoke;
    height: 70vh;
    width: 30vw;
    padding: 40px 40px 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    position: relative;
}

.optionsQuotesIcon {
    max-width: 20px;
}

.optionsQuotesIcon img {
    max-width: 100%;
}

.optionsCard p {
    color: var(--secondary-font-color);
}

.optionsCardContent {
    font-size: 0.8em;
}

.opinionsPictureContainer {
    position: absolute;
    bottom: -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.opinionsPictureContainer img {
    width: 100%;
}