.opinions {
    background: linear-gradient(90deg, rgba(81, 99, 235, 0.404) 0%, rgba(81, 99, 235, 0.404) 100%), url(/images/nigth\ city.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
    min-height: 100vh;
    padding: 0 10%;
    font-family: 'Noto Sans', sans-serif;
}

.opinions__headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.opinions h3 {
    font-size: 1.7em;
    font-weight: 600;
}

.opinions__cardsContainer {
    max-width: 100%;
    padding: 100px 5% 200px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.opinions__card {
    background-color: whitesmoke;
    max-height: 70vh;
    width: 30vw;
    padding: 40px 40px 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    position: relative;
}

.opinions__quotesIcon {
    width: 20px;
}

.opinions__quotesIcon img {
    width: 100%;
}

.opinions__card p {
    color: var(--secondary-font-color);
}

.opinions__cardContent {
    font-size: 0.8em;
}

.opinions__pictureContainer {
    position: absolute;
    bottom: -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.opinions__pictureContainer img {
    width: 100%;
}