:root {
    --main-font-color: rgba(31, 34, 56);
    --secondary-font-color: rgb(70, 70, 117);
    --highlighted-font-color: #673FD7;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    background: rgb(244, 243, 255);
}